body{
    background-color: burlywood;
}
.cont1{
    
}

.slideshow-image{
    width: 250px;
    height: 250px;
    padding-left: 30em;
    padding-top: 10em;
    padding-bottom: 30em;
    padding-right: 30em;
    
      
}
